In [245]:
import pandas as pd
import numpy as np
import re

df = pd.DataFrame({'From_To': ['LoNDon_paris', 'MAdrid_miLAN','londON_StockhOlm','Budapest_PaRis', 'Brussels_londOn'], 'FlightNumber': [10045, np.nan, 10065, np.nan, 10085], 'RecentDelays': [[23, 47], [], [24, 43, 87], [13], [67, 32]], 'Airline': ['KLM(!)', '<Air France> (12)', '(British Airways. )', '12. Air France', '"Swiss Air"']})
print(df.head())

            From_To  FlightNumber  RecentDelays              Airline
0      LoNDon_paris       10045.0      [23, 47]               KLM(!)
1      MAdrid_miLAN           NaN            []    <Air France> (12)
2  londON_StockhOlm       10065.0  [24, 43, 87]  (British Airways. )
3    Budapest_PaRis           NaN          [13]       12. Air France
4   Brussels_londOn       10085.0      [67, 32]          "Swiss Air"

In [246]:
df['FlightNumber'] = df['FlightNumber'].interpolate().astype(int)
print(df.head())

            From_To  FlightNumber  RecentDelays              Airline
0      LoNDon_paris         10045      [23, 47]               KLM(!)
1      MAdrid_miLAN         10055            []    <Air France> (12)
2  londON_StockhOlm         10065  [24, 43, 87]  (British Airways. )
3    Budapest_PaRis         10075          [13]       12. Air France
4   Brussels_londOn         10085      [67, 32]          "Swiss Air"

In [247]:
tempdf = pd.DataFrame()
tempdf['From'] = df['From_To'].str.split('_').str[0].str.capitalize()
tempdf['To'] = df['From_To'].str.split('_').str[1].str.capitalize()
df.pop('From_To')
df.insert(loc = 1, column = "From", value = tempdf['From'])
df.insert(loc = 2,column = "To", value = tempdf['To'])
print(df.head())

   FlightNumber      From         To  RecentDelays              Airline
0         10045    London      Paris      [23, 47]               KLM(!)
1         10055    Madrid      Milan            []    <Air France> (12)
2         10065    London  Stockholm  [24, 43, 87]  (British Airways. )
3         10075  Budapest      Paris          [13]       12. Air France
4         10085  Brussels     London      [67, 32]          "Swiss Air"

In [248]:
delays = pd.DataFrame(df.RecentDelays.values.tolist())
delays.columns = ['delay_1', 'delay_2', 'delay_3']
df.pop('RecentDelays')
df.insert(loc = 3, column = "delay_1", value = delays['delay_1'])
df.insert(loc = 4, column = "delay_2", value = delays['delay_2'])
df.insert(loc = 5, column = "delay_3", value = delays['delay_3'])
print(df.head())

   FlightNumber      From         To  delay_1  delay_2  delay_3  \
0         10045    London      Paris     23.0     47.0      NaN
1         10055    Madrid      Milan      NaN      NaN      NaN
2         10065    London  Stockholm     24.0     43.0     87.0
3         10075  Budapest      Paris     13.0      NaN      NaN
4         10085  Brussels     London     67.0     32.0      NaN

               Airline
0               KLM(!)
1    <Air France> (12)
2  (British Airways. )
3       12. Air France
4          "Swiss Air"

In [249]:
df['Airline'] = df['Airline'].apply(lambda x: re.sub(r"[\d,@)\"(?\.$%_<>!]", '', x))
df.style.set_properties(**{'text-align': 'left'})
print(df.head())

   FlightNumber      From         To  delay_1  delay_2  delay_3  \
0         10045    London      Paris     23.0     47.0      NaN
1         10055    Madrid      Milan      NaN      NaN      NaN
2         10065    London  Stockholm     24.0     43.0     87.0
3         10075  Budapest      Paris     13.0      NaN      NaN
4         10085  Brussels     London     67.0     32.0      NaN

            Airline
0               KLM
1       Air France
2  British Airways
3        Air France
4         Swiss Air